h2{
	text-align:center;
}
.book-table{
	width:800px;
	margin: 0 auto;
	border:5px;
}
.book-table div[class*="room-col-"] {
    float: left;
    padding: 0 20px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
	text-align: center;
}
.book-table .row-head {
    border-top: 2px solid #bcccdc;
    border-bottom: 2px solid #bcccdc;
    background-color: #e6edf2;
    padding: 20px 0;
    font-size: 14px;
    color: #3d474b;
    font-weight: bold;
}
.book-table ul {
    position: relative;
	list-style: none;
    padding:0;
    float:left;
    width:100%;
    margin:0;
}

.book-table .room-row:first-child {
    border: none;
}
.book-table .room-row {
    border-top: 1px solid #d0dbe7 !important;
    padding: 20px 0;
    display:inline-block;
    width:100%;
}
.room-col-1 {
    width: 370px;
}
.room-row .room-price strong {
    color: #9cd70e;
    display: block;
    font-size: 32px;
}
strong {
    font-weight: 700;
}
.room-col-1 .room-img {
    float: left;
    margin-right: 20px;
}
.room-col-2 {
    width: 100px;
    text-align: center;
}
.room-col-3 {
    width: 160px;
}
.room-row .room-col-4 {
    height: 180px;
    display: table;
}
.room-col-2 img {
    display: inline;
    width: 49%;
}
.room-status {
    font-size: 10px;
    text-transform: uppercase;
    color: #8e9eac;
    margin-bottom: 10px;
}
.room-col-1 h2 {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 10px;
}
.star_rating {
    padding-top: 5px;
}
.room-notice {
    font-size: 11px;
    color: #b0b6b9;
    line-height: 1.3em;
    margin-top: 10px;
}

.room-row .room-col-2, .room-row .room-col-3, .room-row .room-col-4{
    border-left: 1px solid #f4f7f9;
}
.room-col-3.inner {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
   
}
.btn-square {
    background-color: #52dae6;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    height: 25px;
    line-height:26px;
	width: 80px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}



            
        
                                    