body 
{
margin:0px auto; 

 padding:0px; 
 font-size:15px; 
 color:gray; 
 font-family:"Segoe UI";
  max-width:1325px;
 }

a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.header {
margin:10px; 
 padding:10px 20px 60px 30px; 
 width:1285px; 
 }

.logo{
	float:center; 
	margin:450px;
	
	padding:40px 10px 10px 30px;
	}


call{
	float:left;
 margin:10px; 
 padding:20px 20px 30px 20px;
 border:none;
 }

.call h4
{
	float:right;
   color:black; 
   font-size:20px; 
   text-transform:uppercase; 
   font-weight:bold;
   margin:20px; 
   }

.drop {margin:20px; padding:8px 0px 0px 0px; float:left; width:150px; display: none;}


.top-link{ width:500px; }

.top-link ul {float:left; margin:-100px; padding:0px 20px 30px 100px; width:100%; list-style:none; font-size:50px;}

.top-link ul li{float:left; margin:0px; padding:5px 5px 0px 5px; position:relative; border:none;}

.top-link ul li a{color:#000;  font-size:15px; float:center;}

.about{float:left;width:100%;position:absolute;aboutscontainer{ width:100%; float:left; padding-top:20px; padding-bottom:25px;}
.aboutstart{max-width:940px; width:100%; margin:0px auto; overflow:hidden;}
.aboutleft{ width:60%; float:left;}
.aboutleft2{ width:100%; float:left;}

.aboutleft span{ text-transform:uppercase; padding-top:63px; font-size:22px; float:left;}
.aboutstart h2{ font-size:36px; }
.aboutleft p{ padding-top:13px; line-height:18px;}
.aboutright{ width:32%; float:right; padding-right:12px; padding-top:3px;}
.contactcall { float:left;}
.contactcall ul{ padding-top:28px;}
.contactcall li{ list-style:none;}
.contactcall li a{ color:#000;}
.contactstart{max-width:940px; width:100%; margin:0px auto; overflow:hidden;}
.address{ width:100%; font-size:14px; float:left; line-height:18px; padding-bottom:30px;}
.add{ float:left; width:34%;}
.addleft{ float:left; width:75%; padding-right:50px;}
.phone{ float:left; width:auto;}
.addleft .camroologo{ padding-top:25px;}
.addleft ul{ padding-top:28px; }
.add ul li{ list-style:none;}
.contactstart h2{ font-size:36px; line-height:27px; padding-bottom:20px;}
.contactsection{ width:100%;overflow:hidden;}
.contactcontainer{ max-width:940px; width:100%; margin:0px auto; padding-top:120px;}

.footerrotateimage{ width:100%;  padding-top:25px; max-width:1600px;  margin:0px auto; border-bottom:1px solid #BDC9D5; overflow:hidden;}
.footerrotateimage li{ list-style:none; float:left; padding-left:48px;}
.bottomfooter{ width:100%; float:left;}
.bfarea{ width:100%; max-width:940px; margin:0px auto; padding:30px 0px; overflow:hidden;}
.bfmenus{ width:60%; float:left;}
.footerlogos{ float: right;}
.footerlogos li{ display:inline; float:right;}






	



