input[type=email], input[type=password],input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;
 background-image: url("../images/843520.jpg");
 background-repeat: none;
}
form
{
  
  /*  width: 800px;
   margin-left: 300px;
   height:400px;
   background-image: url('../images/843520.jpg'); */
   width: 800px;
   opacity:0.9;
   margin-top:150px;
  margin-left:300px;
  margin-bottom:200px;
  
}

#email{
	
	margin-left:210px;
}
#Showpassword{
	margin-left:270px;
}

#password{
margin-left:168px;

}

#Confirmpassword{
	margin-left:90px;
}

#updateButton{
	 text-align: center;
    margin-left: 275px;
    padding-left:260px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}



.textContainer {
margin-left:280px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: xx-large; 
 
}


#black{
	display:none;
}

#title{
	height: 60px;
    width: 100%;
    background:snow;

}

#hotelTitle{
	
	color:black;
margin-left:600px;
font-size: xx-large;
margin-top:-50px;
text-shadow: 2px 2px 5px red;
}

#hotelLogo2
{
    height: 60px;
    width: 70px;
    background: snow;
    margin-left: 500px;
}


#message{
	style ="color:red;
	margin-left:100px;"
}


#loginButton{
	 text-align: center;
    margin-left: 275px;
    padding-left:260px;
}


#emailerror{
	color:red;
	margin-left:300px;
	
}


#passwordError{
	color:red;
	margin-left:300px;
	
}


#cnfrmPasswordError{
	color:red;
	margin-left:300px;
	
	
}