body {font-family: Arial, Helvetica, sans-serif;
/*  background-image: url("../images/booking.jpg"); */
background-color:#c1c4c9;
 background-repeat: none;
}


input[type=email], input[type=password],input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#email{
margin-left:780px;
margin-top:150px;

}

#password{
margin-left:737px;

}
 #name{
 margin-left:730px;
 }
 
 #lastname{
  margin-left:735px;
 }
 


#confirmpassword{
	 margin-left:659px;
}

#phoneNumber{
	margin-left:701px;
}


button:hover {
    opacity: 0.8;
}


.textContainer {
margin-top:70px;
    margin-left:940px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: xx-large; 
   text-shadow: 2px 2px 8px #FF0000;
 
}

#login{
text-align: center;
}



#rememberMe{
margin-left:280px;
color:white;
}


#signupButton {
	 background-color: #4CAF50;
    color: white;
  width: 25%;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 862px;
    padding-left:20px;
}

#cancelButton {
	 background-color: #6d0508;
    color: white;
  width: 25%;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 862px;
    padding-left:20px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    font-size: xx-large;
    
}

.unrequired label:after {
    color: #b7c1b4;
    content: ' *';
    display:inline;
    font-size: xx-large;
    
}

#passwordError{
color:red;
margin-left:900px;
display:none;
}

#confirmError{
color:red;
margin-left:900px;
display:none;
}

#phoneError{
color:red;
margin-left:900px;
display:none;
}

#emailerror{
color:red;
margin-left:900px;
display:none;
}


#lastNameError{
color:red;
margin-left:900px;
display:none;
}

#nameError{
color:red;
margin-left:900px;
display:none;
}

#black{
	display:none;
}

#title{
	height: 60px;
    width: 100%;
    background:snow;

}


#hotelTitle{
	
	color:black;
margin-left:600px;
font-size: xx-large;
margin-top:-50px;
text-shadow: 2px 2px 5px red;
}

#hotelLogo2
{
    height: 60px;
    width: 70px;
    background: snow;
    margin-left: 500px;
}